* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_15 {
  width: 100%;
  height: 1243px;
  background: rgba(217,82,82,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_145 {
  width: 100%;
  height: 1243px;
  background: rgba(255,255,255,1);
  padding: 80px 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_148 {
  width: 100%;
  height: 76px;
  background: rgba(255,255,255,1);
  padding: 20px 20px;
  margin: 20px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11999999731779099);
  overflow: hidden;
}
.v23_149 {
  width: 40px;
  height: 40px;
  background: url("../images/v23_149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 20px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v23_150 {
  width: 689px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 80px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v23_151 {
  width: 484px;
  height: 36px;
  background: rgba(255,255,255,1);
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 789px;
  overflow: hidden;
}
.v23_152 {
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_153 {
  width: 57px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 84px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_154 {
  width: 63px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 181px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_155 {
  width: 200px;
  height: 36px;
  background: url("../images/v23_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 8px;
  margin: 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 284px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v23_156 {
  width: 160px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 8px;
  left: 8px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_157 {
  width: 20px;
  height: 20px;
  background: url("../images/v23_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 172px;
  overflow: hidden;
}
.v23_158 {
  width: 16px;
  height: 16px;
  background: rgba(0,0,0,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
}
.v23_159 {
  width: 100%;
  height: 566px;
  background: url("../images/v23_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 170px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v23_160 {
  width: 446px;
  height: 96px;
  background: url("../images/v23_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 170px;
  overflow: hidden;
}
.v23_161 {
  width: 446px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v23_162 {
  width: 446px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 72px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v23_163 {
  width: 446px;
  height: 400px;
  background: url("../images/v23_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 83px;
  left: 677px;
  overflow: hidden;
}
.v23_164 {
  width: 446px;
  height: 400px;
  background: rgba(216,216,216,0.5);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v23_165 {
  width: 100%;
  background: url("../images/v23_165.png");
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v23_190 {
  width: 100%;
  height: 511px;
  background: rgba(255,255,255,1);
  padding: 40px 40px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 646px;
  left: 0px;
  overflow: hidden;
}
.v23_193 {
  width: 100%;
  height: 233px;
  background: url("../images/v23_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v23_194 {
  width: 100%;
  height: 232px;
  background: url("../images/v23_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 0px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 134px;
  overflow: hidden;
}
.v24_184 {
  width: 482px;
  height: 164px;
  background: url("../images/v24_184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v24_185 {
  width: 100px;
  height: 100px;
  background: url("../images/v24_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v24_186 {
  width: 100px;
  height: 100px;
  background: rgba(216,216,216,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_187 {
  width: 334px;
  height: 132px;
  background: url("../images/v24_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 132px;
  overflow: hidden;
}
.v24_188 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v24_189 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v24_190 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v24_191 {
  width: 86px;
  height: 20px;
  background: rgba(216,216,216,0.5);
  padding: 2px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v24_192 {
  width: 78px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_193 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v24_194 {
  width: 334px;
  height: 20px;
  background: url("../images/v24_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v24_195 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v24_196 {
  width: 306px;
  height: 20px;
  background: url("../images/v24_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v24_197 {
  width: 306px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v24_56 {
  width: 482px;
  height: 164px;
  background: url("../images/v24_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 537px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v24_57 {
  width: 100px;
  height: 100px;
  background: url("../images/v24_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v24_58 {
  width: 100px;
  height: 100px;
  background: rgba(216,216,216,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_59 {
  width: 334px;
  height: 132px;
  background: url("../images/v24_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 132px;
  overflow: hidden;
}
.v24_60 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v24_61 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v24_62 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v24_63 {
  width: 105px;
  height: 20px;
  background: rgba(216,216,216,0.5);
  padding: 2px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v24_64 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_65 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v24_66 {
  width: 334px;
  height: 20px;
  background: url("../images/v24_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v24_67 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v24_68 {
  width: 306px;
  height: 20px;
  background: url("../images/v24_68.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v24_69 {
  width: 306px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v24_198 {
  width: 100%;
  height: 267px;
  background: url("../images/v24_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 0px;
  overflow: hidden;
}
.v24_199 {
  width: 100%;
  height: 232px;
  background: url("../images/v24_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 40px 0px;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 134px;
  overflow: hidden;
}
.v24_200 {
  width: 482px;
  height: 164px;
  background: url("../images/v24_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 5px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v24_201 {
  width: 100px;
  height: 100px;
  background: url("../images/v24_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v24_202 {
  width: 100px;
  height: 100px;
  background: rgba(216,216,216,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_203 {
  width: 334px;
  height: 132px;
  background: url("../images/v24_203.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 132px;
  overflow: hidden;
}
.v24_204 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v24_205 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v24_206 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v24_207 {
  width: 105px;
  height: 20px;
  background: rgba(216,216,216,0.5);
  padding: 2px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v24_208 {
  width: 97px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_209 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v24_210 {
  width: 334px;
  height: 20px;
  background: url("../images/v24_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v24_211 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v24_212 {
  width: 306px;
  height: 20px;
  background: url("../images/v24_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v24_213 {
  width: 306px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v24_214 {
  width: 482px;
  height: 164px;
  background: url("../images/v24_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 537px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v24_215 {
  width: 100px;
  height: 100px;
  background: url("../images/v24_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v24_216 {
  width: 100px;
  height: 100px;
  background: rgba(216,216,216,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_217 {
  width: 334px;
  height: 132px;
  background: url("../images/v24_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 132px;
  overflow: hidden;
}
.v24_218 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v24_219 {
  width: 334px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v24_220 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 0px;
  overflow: hidden;
}
.v24_221 {
  width: 87px;
  height: 20px;
  background: rgba(216,216,216,0.5);
  padding: 2px 4px;
  margin: 2px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v24_222 {
  width: 79px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_223 {
  width: 334px;
  height: 28px;
  background: url("../images/v24_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 4px 0px;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 0px;
  overflow: hidden;
}
.v24_224 {
  width: 334px;
  height: 20px;
  background: url("../images/v24_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v24_225 {
  width: 20px;
  height: 20px;
  background: rgba(0,0,0,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v24_226 {
  width: 306px;
  height: 20px;
  background: url("../images/v24_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 28px;
  overflow: hidden;
}
.v24_227 {
  width: 306px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v23_220 {
  width: 100%;
  background: url("../images/v23_220.png");
  opacity: 1;
  position: absolute;
  top: 292px;
  left: 0px;
  border: 1px solid rgba(0,0,0,0.10000000149011612);
}
.v23_221 {
  width: 100%;
  height: 86px;
  background: url("../images/v23_221.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 60px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 1157px;
  left: 0px;
  overflow: hidden;
}
.v23_222 {
  width: 357px;
  height: 100px;
  background: url("../images/v23_222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 468px;
  overflow: hidden;
}
.v23_223 {
  width: 357px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
